*{
    margin: 0;
    padding: 0;
    background-color: #320d0d;
}


main{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
}

.perfil_user{
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


svg{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strong{
    font-weight: bolder;
}


.dados_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16%;
    width: 100%;
    margin-top: 5%;
    color: white;
}

.buts{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}

.password, .photo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.container_cards{
    width:70vw;
    justify-content: center;
    display: flex;
    height: 30vh;
    align-items: center;
}

.cards{
    display: flex;
    list-style: none;
    gap: 20px;
}

.card_one{
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    height: 120px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card_one > p{
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.card_two,.card_three,.card_four,.card_five{
    border: 1px solid rgb(255, 255, 255);
    height: 120px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

 p{
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
}

.card_one > p{
    background: rgb(177, 218, 115);
}

.card_two > p{
    background: gray;
    color: white;
}

.card_three > p{
    background: rgb(173, 100, 226);
}

.card_four> p{
    background: rgb(235, 110, 65);
}

.card_five > p{
    background: blue;
}

.teste{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 42%;
    width: 50vw;
    height: 60%;
    
}

textarea{
    height: 300px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}











