body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #320d0d;
    height: 4rem;
    width: 92%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 10px; 
}

a, .btn {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    border: 1px solid white;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.logo{
    width: 150px; 
    height: auto; 
    margin-right: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 1px;
}

/* Estilos para a seção principal */
.fancy {
    --b: 3px;   /* control the border thickness */
    --w: 35px;  /* control the width of the line */
    --g: 7.5px;  /* control the gap */
    --c: #0B486B;
   
    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background: 
      conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
      conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: 
       linear-gradient(
         #0000      calc(50% - var(--b)/2),
         var(--c) 0 calc(50% + var(--b)/2),
         #0000    0) 
      1/0 var(--w)/calc(var(--w) + var(--g));
    margin: 5px auto 0 auto;
    text-align: center;


}


p {
    font-size: 1rem;
    text-align: center;
    margin: 13px;
    color: black;
}

#R {
    font-size: 2rem;
    text-align: center;
    margin: 13px;
    color: #0B486B;
}

.curso-info{
    padding: 1rem;
    margin: 0.5rem;
    width: 80%;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: auto 20px auto auto;
}

.search-container button {
    padding: 5px 10px;
    background-color: #450000;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}

.search-container button:hover {
    background: #a04545;
}

h3{
    margin: 0 auto auto auto;
}


.botao {
    position: fixed;
    top: 35%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 4px;
}

.botao button {
    display: block;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    line-height: 30px; 
    font-size: 16px; 
    border:none;
    border-radius: 5px;
    background-color: #2975E0;
}

 .varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.botao #toggleButton {
    display: block;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    line-height: 30px; 
    font-size: 16px; 
    border:none;
    padding: 0;
    margin-right: 10px;
    background-color: transparent;
}