body {
  background-color: #320d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

header {
    background-color: #ffffff;
    height: 4rem;
    width: 89.7%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 0 20px; 
}

a, .btn {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    border: 1px solid #320d0d;
    background-color: #320d0d;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #320d0d;
}

.logo{
    width: 150px; 
    height: auto; 
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 50px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dash {
  max-width: 350px;
  width: 250px;
  height: 230px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: white;
  margin-bottom: 10px;
}


h1 {
  color: white;
  margin-bottom: 2%;
  text-align: center; 
  font-size: 26px;
}

.botao {
    position: fixed;
    top: 35%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 4px;
}

.botao button {
    display: block;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    line-height: 30px; 
    font-size: 16px; 
    border:none;
    border-radius: 5px;
    background-color: #2975E0;
}

 .varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.botao #toggleButton {
    display: block;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    line-height: 30px; 
    font-size: 16px; 
    border:none;
    padding: 0;
    margin-right: 10px;
    background-color: transparent;
}